* {
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
.h70 {
  height: 0.933333rem;
}
.h50 {
  height: 0.666667rem;
}
.h30 {
  height: 0.4rem;
}
.w750 {
  height: 10.0rem;
}
.w150 {
  height: 2.0rem;
}
.w500 {
  height: 6.666667rem;
}
